﻿@{
    ViewBag.Title = "Home Page";
}

<section class="hero--section">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <a href="#">
                    <img class="d-block img-fluid" src="~/Content/wp-content/themes/riskspotlight/img/banner/banner1.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img class="d-block img-fluid" src="~/Content/wp-content/themes/riskspotlight/img/banner/banner4.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img class="d-block img-fluid" src="~/Content/wp-content/themes/riskspotlight/img/banner/banner3.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img class="d-block img-fluid" src="~/Content/wp-content/themes/riskspotlight/img/banner/banner5.jpg" alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img class="d-block img-fluid" src="~/Content/wp-content/themes/riskspotlight/img/banner/banner2.jpg" alt="First slide">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
@*<section class="free--trial">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <a href="http://www.riskspotlightportal.com/Account/UserRegister" class="pull-left">
                    <h3>Free OpRisk News Trial</h3>
                    <p>Do you need access to the latest news categorised by core operational risks?</p>
                </a>
                <img class="free--trial-img" src="~/Content/wp-content/themes/riskspotlight/img/icons/newspaper.svg" alt="newspaper">
            </div>
        </div>
    </div>
</section>*@
<!--<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="http://airloopmedia.zedpetsclub.com/wordpress/wp-content/themes/riskspotlight/img/icons/oprisk.png" class="img-responsive">
            </div>
            <div class="col-xs-10 col-md-5">
                <h2>RiskSpotlight Portal</h2>
                <p>We offer risk management related content, consulting &amp; training services</p>
                <br>
                <a href="#" class="btn btn-custom">Portal login</a>&nbsp;&nbsp;&nbsp;
                <a href="http://airloopmedia.zedpetsclub.com/wordpress/index.php/riskportal/" class="btn btn-custom">View Details</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 offset-xs-0 col-md-2 offset-md-4">
                <img src="http://airloopmedia.zedpetsclub.com/wordpress/wp-content/themes/riskspotlight/img/icons/lib.png" class="img-responsive">
            </div>
            <div class="col-xs-10 col-md-5">
                <a href="#">
                    <h2>Consulting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque officiis explicabo, reiciendis sed voluptatum, optio placeat ipsam</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img src="http://airloopmedia.zedpetsclub.com/wordpress/wp-content/themes/riskspotlight/img/icons/risk.png" class="img-responsive">
            </div>
            <div class="col-xs-10 col-md-5">
                <a href="#">
                    <h2>Training</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque officiis explicabo, reiciendis sed voluptatum, optio placeat ipsam</p>
                </a>
            </div>
        </div>

    </div>
</section>-->
@*<section class="small--features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="s--feature">
                    <a href="index.php/oprisklib/index.html">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Homepage/Homepage_OpRisLib.png">
                        <h3>OpRisk Library</h3>
                        <p>Browse &amp; download 126 core operational risks for financial services.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="s--feature">
                    <a href="index.php/riskappetitetemplate/index.html">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Homepage/Homepage_Apetite.png">
                        <h3>Risk Appetite</h3>
                        <p>Download an operational risk appetite statement template.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="s--feature">
                    <a href="index.php/coso-iso-31000/index.html">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Homepage/Homepage_coso.png">
                        <h3>COSO &amp; ISO 31000</h3>
                        <p>View our comparison analysis of COSO ERM & ISO 31000.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>*@

<!-- call to action section start here -->
@*<section class="calltoaction big" id="calltoaction">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-8">
                <div class="call-buttons">
                    <a class="bottom-link margin-right-40" href="http://www.riskspotlightportal.com/Account/UserRegister">
                        <i class="fa fa-long-arrow-right"></i>
                        <span>OpRisk News Free Trial</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- call to action section closed here -->
