﻿<!DOCTYPE html>
<html lang="en-US">
<!-- Mirrored from airloopmedia.zedpetsclub.com/wordpress/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2018 16:25:38 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="RiskSpotlight - Your Partner In Content Development">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">
    <title>RiskArq &#8211; Your Partner In Content Development</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="RiskSpotlight &raquo; Feed" href="index.php/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="RiskSpotlight &raquo; Comments Feed" href="index.php/comments/feed/index.html" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/airloopmedia.zedpetsclub.com\/wordpress\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.2"}};

        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56794, 8205, 9794, 65039], [55358, 56794, 8203, 9794, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">

        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

       
    </style>
    <link rel='stylesheet' id='understrap-styles-css' href='~/Content/wp-content/themes/riskspotlight/css/themed0c7.css?ver=0.6.12' type='text/css' media='' />
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/riskspotlight/js/myfile68b3.js?ver=1'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/riskspotlight/js/popper.min68b3.js?ver=1'></script>
    <link rel='https://api.w.org/' href='index.php/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.2" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="index.php/wp-json/oembed/1.0/embed99fa.json?url=http%3A%2F%2Fairloopmedia.zedpetsclub.com%2Fwordpress%2F" />
    <link rel="alternate" type="text/xml+oembed" href="index.php/wp-json/oembed/1.0/embedd916?url=http%3A%2F%2Fairloopmedia.zedpetsclub.com%2Fwordpress%2F&amp;format=xml" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
</head>
<body class="home page-template page-template-page-templates page-template-homepage page-template-page-templateshomepage-php page page-id-5">
    @*<div class="hfeed site" id="page">*@
    <!-- ******************* The Navbar Area ******************* -->
    
    <div class="wrapper-fluid wrapper-navbar" id="wrapper-navbar">
        <a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid">

                <!-- Your site title as branding in the menu -->


                <a class="navbar-brand" rel="home" href="#" title="RiskSpotlight">

                    <img src="~/Content/wp-content/themes/riskspotlight/img/Logo_RiskArq.png" alt="logo" />
                    <span class="white header-text">Unleashing the Power of Uncertainties</span>

                </a>



                <!-- end custom logo -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- The WordPress Menu goes here -->
                <div id="navbarNavDropdown" class="collapse navbar-collapse">
                    <ul id="main-menu" class="navbar-nav ml-auto">
                        <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-15"><a title="Software" href="#divSoftware" class="nav-link">Software</a></li>
                        <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-15"><a title="Content" href="#divContent" class="nav-link">Content</a></li>
                        <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-32"><a title="Consulting" href="#divConsulting" class="nav-link">Consulting</a></li>
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-31"><a title="Training" href="#divTraining" class="nav-link">Training</a></li>
                        <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-39"><a title="Contact Us" href="#divContactUs" class="nav-link">Contact Us</a></li>
                        <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-39"><a title="Login" href="#" class="nav-link">Login</a></li>
                        <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-39"><a title="Search" href="#" class="nav-link"> <i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div><!-- .container -->

        </nav><!-- .site-navigation -->
    </div><!-- .wrapper-navbar end -->


    <div>
        @RenderBody()
        <hr />
    </div>
    <div id="divSoftware">
        <section class="software--vendor">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="image">
                            <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Consulting/Consulting_2.png" alt="img" class="twentyfive">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="section--header">RiskArq Management Software Vendor Selection</h2>
                        <br>
                        <p>We assist clients in selecting the most suitable riskArq software solution to align with their riskArq management framework and processes. This involves the following phases:-</p>
                        <br>
                        <ul class="check--links check-white">
                            <li>Understanding the client's riskArq management framework and processes</li>
                            <li>Scanning the vendors to identify the most suitable solution</li>
                            <li>Developing the vendor selection criteria, process and proof of concept requirements</li>
                            <li>Developing the RFI/RFP documents and running the process</li>
                            <li>Providing recommendations on the appropriate solution</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="b--requirement">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="section--header">Business Requirement Analysis</h2>
                        <br>
                        <p>This offering covers the consulting services required to analyse and define business requirements to facilitate successful implementation of risk management software. This usually includes:-</p>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="check--links check-black">
                                            <li>RiskArq and Control Assessments</li>
                                            <li>RiskArq Aggregation</li>
                                            <li>RiskArq Appetite, RiskArq Tolerance, RiskArq &nbsp;&nbsp;Limits &amp; RiskArq Capacity</li>
                                            <li>RiskArq Monitoring (covering KRIs, Issues &nbsp;&nbsp;&amp; Actions, Loss Data)</li>
                                            <li>RiskArq Reporting</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="check--links check-black">
                                            <li>Secenario Analysis</li>
                                            <li>Audit Management</li>
                                            <li>Regulatory Compliance</li>
                                            <li>Information Security Management</li>
                                            <li>Model RiskArq Management</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image">
                            <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Consulting/Consulting_3.png" alt="img" class="twentyfive">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="divContent">
        <section class="risk--portal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/Content_risk%20Portal.png" alt="img" class="risk-image">
                    </div>
                    <div class="col-md-6">
                        <div class="center-section center-text">
                            <h2 class="section--headers">RiskArq Content</h2>
                            <br>
                            <p class="text-center">A web-based subscription service providing access to news articles categorised by 126 core operational RiskArqs. Facilitates more informed RiskArq assessments, scenario analysis and RiskArq monitoring.</p>
                            <br>
                            <a href="#" class="readmore">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="operational--risk--section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="center-section center-text">
                            <h2 class="section--header">Operational RiskArq Library</h2>
                            <br>
                            <p class="text-center">A comprehensive library of 126 core operational risks and related <br>content covering causes, controls, key risk indicators and impacts. <br>Enables rapid development and enhancement of an in-house <br>RiskArq register and related content.</p>
                            <br>
                            <a href="#" class="readmore">Read more</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/Content_risk%20library.png" alt="" class="img-fluid margin-top-40">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="divConsulting">
        <section class="consulting--services">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/Consulting_Page_350X230px.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="center-section">
                            <h2 class="section--header">Consulting Services Overview</h2>
                            <br>
                            <p>We are trusted advisors to organisations of all sizes within financial services and all our consultants are experienced in RiskArq management frameworks and processes, as well as the technology solutions that enable them. We work across the GRC disciplines and specialise in operational risk where we provide end-to-end solutions, in combination with our content, training, and partner software solutions. Our key offerings are detailed below.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="risk--framework">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="section--header">RiskArq Management Framework Development</h2>
                        <br>
                        <p>We provide consulting services to enable clients to develop their RiskArq management frameworks to align with industry standards and best practices. This often covers the following topics:-</p>
                        <br>
                        <ul class="check--links check-black">
                            <li>
                                Benchmark current RiskArq management frameworks with ISO 31000, COSO
                                ERM or OCEG's GRC capability model
                            </li>
                            <li>
                                Develop specific aspects of the RiskArq framework such as:
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="d1--links d1-black">
                                    <li>RiskArq Assessments</li>
                                    <li>RiskArq Aggregation</li>
                                    <li>RiskArq Monitoring</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="d1--links d1-black">
                                    <li>Scenerio Analysis</li>
                                    <li>RiskArq Appetite</li>
                                    <li>RiskArq Vocabulary</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image">
                            <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Consulting/Consulting_1.png" alt="img" class="twentyfive">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="independant">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="image">
                            <img src="~/Content/wp-content/themes/riskspotlight/img/allicons/Consulting/Consulting_4.png" alt="img" class="twentyfive">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="section--header white">Independent Facilitation</h2>
                        <br>
                        <p>We provide independent facilitation of RiskArq management related workshops and processes. This can also incorporate training on RiskArq management generally, or specific topics such as:-</p>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="white-box">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="check--links check-black">
                                                <li>Identification of Risks &amp; &nbsp;&nbsp;Controls</li>
                                                <li>Identification of KRIs</li>
                                                <li>RiskArq &amp; control Assessments</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="check--links check-black">
                                                <li>Scenario Development</li>
                                                <li>Independent Control Testing (e.g &nbsp;&nbsp;for SOX)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="enquiry--form">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section--header">Consulting Enquiry Form</h2>
                    </div>
                </div>
                <br><br>
                <!--  -->
                <form action="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input">
                                <label for="fname">First Name &nbsp; <span class="text-danger">*</span></label>
                                <input id="fname" type="text" class="form-control" placeholder="First name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="lname">Last Name &nbsp; <span class="text-danger">*</span></label>
                                <input id="lname" type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="email">Email &nbsp; <span class="text-danger">*</span></label>
                                <input id="email" type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input">
                                <label for="cname">Company Name</label>
                                <input id="cname" type="text" class="form-control" placeholder="Company name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="country">Country</label>
                                <input id="country" type="text" class="form-control" placeholder="Country">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input">
                                <label for="country">Your enquiry &nbsp; <span class="text-danger">*</span></label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Type your enquiry here"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 text-right offset-7">
                            <a class="themelink margin-top-5" href="~/Content/wp-content/themes/riskspotlight/img/riskpolicy.pdf">View data privacy policy</a>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-yellow btn-block" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
    <div id="divTraining">
        <section class="spotlight--training">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/wp-content/themes/riskspotlight/img/Training_Page.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <div class="center-section">
                            <h4>Training Overview</h4>
                            <br>
                            <p>We offer classroom, online and recorded training courses on a wide range of RiskArq management topics. Our courses are delivered by expert trainers who utilise a range of learning tools to balance the theoretical and practical aspects of learning. We can also customise and deliver course content based on specific client requirements.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="upcomming--cources">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                        <script async src="~/Content/platform.twitter.com/widgets.js" charset="utf-8"></script>

                        <h5 class="u-course">Our Courses</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="course clearfix">
                            <p class="training-host">Training Host : RiskArq</p>
                            <h4 class="training-title">Introduction to Operational RiskArq (free)</h4>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <p><b>FORMAT :</b> Recording Online</p>
                                </div>
                                <div class="col-md-4">
                                    <p><b>DATES  :</b> Available Now</p>
                                </div>
                                <div class="col-md-4">
                                    <p><b>TRAINER :</b> Manoj Kulwal, RiskArq</p>
                                </div>
                            </div>
                            <br>
                            <a href="#" class="readmore pull-right">read more</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="course clearfix">
                            <p class="training-host">Training Host : Eureka Financials</p>
                            <h4 class="training-title">Mastering Operational RiskArq Management</h4>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <p><b>FORMAT :</b>Workshop in London, UK</p>
                                </div>
                                <div class="col-md-4">
                                    <p><b>DATES  :</b> 25-26 Apr 2018</p>
                                </div>
                                <div class="col-md-4">
                                    <p><b>TRAINER :</b> Manoj Kulwal, RiskArq</p>
                                </div>
                            </div>
                            <br>
                            <a href="#" class="readmore pull-right">read more</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="course clearfix">
                            <p class="training-host">Training Host : UK Finance</p>
                            <h4 class="training-title">Designing a Robust Control Environment for Operational Risk</h4>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <p><b>FORMAT :</b>Workshop in London, UK</p>
                                </div>
                                <div class="col-md-4">
                                    <p><b>DATES  :</b>15Mar2018</p>
                                </div>
                                <div class="col-md-4">
                                    <p><b>TRAINER :</b> Manoj Kulwal, RiskArq</p>
                                </div>
                            </div>
                            <br>
                            <a href="#" class="readmore pull-right">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="traninig--enquiry--form">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Use the form below to enquire about additional RiskArq management courses.</p>
                        <h2 class="section--header">Training Enquiry Form</h2>
                    </div>
                </div>
                <br><br>
                <form action="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input">
                                <label for="fname">First Name &nbsp; <span class="text-danger">*</span></label>
                                <input id="fname" type="text" class="form-control" placeholder="First name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="lname">Last Name &nbsp; <span class="text-danger">*</span></label>
                                <input id="lname" type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="email">Email &nbsp; <span class="text-danger">*</span></label>
                                <input id="email" type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input">
                                <label for="cname">Company Name</label>
                                <input id="cname" type="text" class="form-control" placeholder="Company name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="country">Country</label>
                                <input id="country" type="text" class="form-control" placeholder="Country">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input">
                                <label for="country">Your enquiry &nbsp; <span class="text-danger">*</span></label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Type your enquiry here"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 text-right offset-7">
                            <a class="themelink margin-top-5" href="~/Content/wp-content/themes/riskspotlight/img/riskpolicy.pdf">View data privacy policy</a>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-yellow btn-block" type="submit">Send</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </section>

    </div>
    <div id="divContactUs">
        <section class="contact--form">
            <div class="container">


                <form action="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input">
                                <label for="fname">First Name &nbsp; <span class="text-danger">*</span></label>
                                <input id="fname" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="lname">Last Name &nbsp; <span class="text-danger">*</span></label>
                                <input id="lname" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="Email">Email &nbsp; <span class="text-danger">*</span></label>
                                <input id="Email" type="eamil" placeholder="Email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input">
                                <label for="cname">Company Name</label>
                                <input id="cname" type="text" placeholder="Company Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="country">Country</label>
                                <input id="country" type="text" placeholder="Country" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input">
                                <label for="enquiry">Type of Enquiry &nbsp; <span class="text-danger">*</span></label>
                                <select name="" id="enquiry" class="form-control">
                                    <option value="" selected="selected">Please select...</option>
                                    <option value="RiskArq Portal">RiskArq Portal</option>
                                    <option value="RiskArq OpRisk Library">RiskArq OpRisk Library</option>
                                    <option value="Consulting Services">Consulting Services</option>
                                    <option value="Training Services">Training Services</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="Customer Support">Customer Support</option>
                                    <option value="Other (Please explain)">Other (Please explain)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input">
                                <label for="yenquiry">Your Enquiry &nbsp; <span class="text-danger">*</span></label>
                                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Type your enquiry here"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right offset-7">
                            <a class="themelink margin-top-5" href="~/Content/wp-content/themes/riskspotlight/img/riskpolicy.pdf">View data privacy policy</a>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-yellow btn-block" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="home--links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.php/content/index.html">Content</a></li>
                        <li><a href="index.php/consulting/index.html">Consulting</a></li>
                        <li><a href="index.php/training/index.html">Training</a></li>
                        <li><a href="index.php/resources/index.html">Resources</a></li>
                        <li><a href="index.php/partners/index.html">Partners</a></li>
                        <li><a href="index.php/team/index.html">Our Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row company-about">
                        <div class="col-md-12 text-center">
                            <p>Registered as a Limited company in England and Wales, Company Number: 8323104.<br>Registered Address: 17 Manor Road, East Molesey, Surrey KT8 9JU, UK.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/wp-content/themes/riskspotlight/js/jquery.js"></script>
    <script src="~/Content/wp-content/themes/riskspotlight/js/masonry.min.js"></script>
    <script src="~/Content/wp-content/themes/riskspotlight/js/myfile.js"></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/riskspotlight/js/themed0c7.js?ver=0.6.12'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/wp-embed.min20fd.js?ver=4.9.2'></script>
  </body>

<!-- Mirrored from airloopmedia.zedpetsclub.com/wordpress/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2018 16:26:45 GMT -->
</html>
